@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #f08772, #e7494c);
    -webkit-text-fill-color: transparent;
  }


